<div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-2 pt-1">
    </div>
    <div class="col-4 text-center">
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <nav class="nav blog-nav">
          <%= link_to "Home", root_path, class: "nav-link" %> 
          <%= link_to "About", about_me_path, class: "nav-link" %> 
          <%= link_to "Contact", contact_path, class: "nav-link" %> 
          <%= link_to "Blog", blogs_path, class: "nav-link" %> 
          <%= link_to "Portfolio", portfolios_path, class: "nav-link" %>
          <%= login_helper 'nav-link' %>
       </nav> 
      </div>
    </div>

        